<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
		<link rel="stylesheet" href="/style/Home.css" />
	</head>
	<body>
		<header>
			<h1>welcome to my api</h1>
		</header>
		<main>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
				aliquid iste iure natus harum voluptas itaque minima, alias totam
				placeat quibusdam distinctio soluta, commodi nostrum. Possimus molestias
				veritatis dicta? Numquam!
			</p>
			<h2>routes</h2>
			<div class="routes">
				<ul>
					<%for(let route of routes){%>
					<li>
						<a href='<%=route.methode==="post"?"/":route.path%>'>
							name : <span><%=route.name%></span> | methode :<span>
								<%=route.methode%>
							</span>
							| path :
							<span><%=route.path%></span>
						</a>
					</li>
					<%}%>
				</ul>
			</div>
		</main>
	</body>
</html>
